body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
h2{
    font-size: 19px;
}
p{
    color: dimgray;
}
.high{
    color: orangered;
}
.hw{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;

}
.hw img{
    width: 100%;

}
.tb{
    background-image: url("images/top-banner.png");
    background-repeat: no-repeat;
}
section{
    height: 300px;
    padding: 90px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, rgb(241, 151, 7));
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    font-weight: 700;

}
.dream-area{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}
.single-experience{
    box-shadow: 10px 10px 40px gray;
    border-radius: 30px;
    height: 90%;
    background-color: white;
}
.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat:no-repeat;
    background-position: left;
}
#new-stuck{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, orangered);
    border-image-slice: 1;
}
#full-stuck{
    border-left: 7px  solid;
    border-image: linear-gradient(180deg, blue ,cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
    font-size: 12px;
}