body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 35px;
}
.high{
    color: orangered;
}
.hw{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left:2%;

}
.hw img{
    width: 100%;

}